# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.pytest_cache/

# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Node/React dependencies and builds
node_modules/
dist/
dist-ssr/
*.local

# Logs and environment variables
*.log
.env
.env.*.local

# IDEs and OS configs
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
